
.about-img{
    width: 60%;
}

.bullets-section{
    padding-top: 20px;
}


@media only screen and (max-width: 600px) {
    .about-img{
        width: 80%;
    }

    .bullets-section{
        padding-top: 10px;
    }

    .bullets-section .title-text{
        text-align: center;
    }

    .button{
        display: flex;
        justify-content: center;
    }

}


.about-section{
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.about-section:nth-child(odd){
    background-color: #EEFBFB;
}

.about-section-col{
    text-align: center;
}

.icon{
    margin-left: 3px;
    margin-right: 10px;
    height: 35px;
    width: 35px;
    color: rgb(223, 180, 39);

}

.MuiButton-contained{
 color: white !important;
 background-color: #4DA8DA !important;
}

.MuiButton-root {
    border-radius: 25px !important;
  } 