.cards{
    width: 275px;
    height: 200px;
    text-align: center;
    border: none;
}
@media only screen and (max-width: 600px) {
    .cards{
        height: 150px;
        margin-bottom: 10px;
    }
  }
.count {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.counter-section{
    margin-left: auto;
    margin-right: auto;
}

.icon{
    margin-left: auto;
    margin-right: auto;
    height: 35px;
    width: 35px;
    color: rgb(223, 180, 39);
    margin-top: 10px;
    margin-bottom: 5px;
}