.navbar{
    height: 80px;
    /* box-shadow: 0 -10px 50px hsl(0, 0%, 90%); */
    background: transparent;
    position: fixed;
    right: 0px;
    left: 0px;
    width: 100%;
    padding: 0vh;
    z-index: 1;
    /* margin-bottom: 3px; */
  }

  .navbar-brand{
      color: white !important;
      font-weight: 900;
      font-family: 'Poppins', sans-serif;
      font-size: 2.5rem !important;
  }

  .nav-link{
    color: white !important;
    padding-left: 1.5rem !important;
  }

  .navbar.active{
      background: #007CC7;
  }