@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.title-text{
    /* h1 */
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2rem;
}

.subtitle-text{
    /* h4 */
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}

.description-text{
    /* h6 */
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1rem;
}

@media only screen and (max-width: 600px){
    .title-text{font-size: 1.75rem;}
    .subtitle-text{font-size: 1.25rem;}
    .description-text{font-size: 0.9rem;}
}